.cart-no{
  position: absolute;
  font-size: 15px;
  top: 0px;
  right: 2px;
  font-weight: 400;
  background-color: blue;
  border-radius: 50%;
  color: white;
  text-align: center;
  min-height: 20px;
  min-width: 20px;

}


a.active{
  color: white;
  font-size: large;
}
