@if (product != null && product.pictureUrl != null) {
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{product.pictureUrl}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body mx-4">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-text">type: {{product.productTypeName}}</p>
            <p class="card-text">Brand: {{product.productBrandName}}</p>
            <div class="d-flex align-items-center">
              <button mat-icon-button color="primary" [disabled]="buyText<=1" (click)="buyText = buyText-1">
                <mat-icon>remove_circle</mat-icon>
              </button>
              <input class="form-control w-25" [(ngModel)]="buyText">
              <button mat-icon-button color="primary" (click)="buyText = buyText+1">
                <mat-icon>add_box</mat-icon>
              </button>
            </div>
            <div class="d-flex align-items-center">
              <button (click)="addToCart()" mat-flat-button color="primary">
                Add To Cart
                <mat-icon>add_icon</mat-icon>
              </button>

            </div>

          </div>

        </div>
      </div>
      <div class="row g-0 ">
        <div class="col p-4">
          <h2>Description</h2>
          <p class="card-text">{{product.description}}</p>

        </div>
      </div>
    </div>
  </div>
</div>

}
