<div class="col" style="min-height: 300px;">
  <div class="card h-100 shadow-sm">
    <div class="img-wrapper">
      <img src="{{product.pictureUrl}}" class="card-img-top" alt="...">
      <div class="text-center icons-img animate align-items-center justify-content-center d-flex">
        <button mat-icon-button style="font-size: 20px;">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <a type="button" class="mx-2" routerLink="/productDetail/{{product.id}}" mat-flat-button color="primary">view</a>
        </div>
    </div>
    <div class="card-body">
      <a href="#" style="text-decoration: none;">
        <h3>{{product.name}}</h3>
      </a>

      <div class="mb-2">{{product.productBrandName}}</div>
      <div class="mb-2">{{product.productTypeName}}</div>
      <span class="mb-2">{{product.price| currency}}</span>
      <p class="card-text">
        {{product.description}}
      </p>
    </div>
  </div>
</div>
